*{
    box-sizing: border-box;
    color:rgb(255, 255, 255);
    font-family: 'Instrument Serif', serif;
    overflow: hidden;
}
/*website background picture*/
body {
    background-image:url(./Images/filipp-romanovski-p89ud3EfIi0-unsplash_v2.jpg);
    background-size:cover;
}
/*navigation*/
.menu ul {
    margin: 20px auto;
    padding: 10px 10px;
    text-align: center;
    word-spacing: 5px;
    text-align: right;
  }
.menu li {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline;
  }
  a {
    color:rgb(255, 255, 255);
    text-decoration:none;
    cursor:pointer;
  }
  a:hover {
    color: #fbc71bf9;
  }
/* homepage title*/
.home {
    font-size:50px;
    text-align: center;
    word-spacing:2px;
    font-weight:500;
    opacity:1;
    text-transform: uppercase;
    margin-bottom:10px;
}

.home-location{
  margin-bottom:15px;
}
/* travel page images*/
.tz-images {
  height:160px;
  width:160px;
  border-radius:80px;
  border: 3px solid #ffffff91;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
  margin-top:20px;
  display:inline-block;
  position: relative;
  left:25%;
}
.font{
  text-align:center;
}
.tz { 
  text-transform:uppercase;
  font-size:50px;
  text-decoration: underline;
}
.tourtitle{
  margin-bottom:10px;
  margin-top:20px;
  text-align:center;
  font-size:25px;
}

.tour-listtz {
  list-style-type: none;
  text-align:center;
  display:inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right:20px;
  position:relative;
  left:25%;
}

.questions {
  border: 3px solid rgb(255, 255, 255);
  width: 880px;
  margin-top:25px;
  margin-top:20px;
  padding:10px 10px;
  position:relative;
  left:15%;
  text-align:center;
}

.answer{
  color:black;
}

.znz-hotel {
  padding: 0px 196px;
}

.hotel2 {
  margin-top: 10px;
}

.hotel-note{
  color:#fbc71bf9;
  font-weight: bold;
  margin-bottom:20px;
}

.hotel-links{
  text-decoration: underline;
}
.tours-includes{
  list-style-type: none;
  position:relative;
  right:15px;
  margin-top:20px;
}

/* Home & RSVP Page Button*/
button{
  height: 50px;
  width: 400px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid #fbc71bf9;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: #e8c65724;
  text-shadow: 0 -2px #00000043;
  margin-top:5px;
  text-align:center;

}

/*RSVP Page*/

.rsvp {
  font-size:20px;
  text-align: center;
  word-spacing:2px;
  font-weight:500;
  text-transform: uppercase;
  margin-bottom:10px;
  margin-top:10px;
}

#titlename {
  font-size:80px;
  margin-bottom:10px;
  margin-top:20px;
}

.rsvp-important {
  color:#fbc71b;
  font-weight:bold;
  text-shadow: 0 -1.5px #000000;
}

.enterbox{
  
  border: 1.5px solid #fbc71b;
  color:black;
  text-align:center;
  border-radius: 4px;
}

h6{
  margin-bottom:10px;
  margin-top:10px;
  text-align:center;
}

/* Schedule Page*/

.pad{
  padding: 0px 320px;
}
.schedule-margin{
  margin-top: 40px;
}

.bride-groom {
    height:160px;
    width:160px;
    border-radius:80px;
    border: 3px solid #ffffff91;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    margin-top:20px;
    display:inline-block;
    position: relative;
    left:25%;
}


/*Success Page*/
.giphy-embed{
  font-size:30px;
  position: relative;
  left: 360px;
  top:30px;
  margin-bottom:40px;

}

.successtext {
  color:black;
  text-align:center;
  font-size:25px;
  margin-top:10px;
  
}
.successtextlink{
  text-decoration:underline;
  color:blue;
  text-align:center;
  font-size:15px;
  margin-top:10px;
}

.successcolour {
  background-image: url(./Images/white\ box.png);
}
/* Mobile styles */
@media only screen and (max-width: 768px) {
  /* Styles for mobile devices */
/*website background picture*/
body {
    background-image:url(./Images/filipp-romanovski-p89ud3EfIi0-unsplash_v2.jpg);
    background-size:cover;
    background-repeat:repeat;
    background-position: center center;
    overflow: hidden;

}
/*navigation*/
.menu ul {
    margin: 5% auto;
    padding: 5% 5%;
    text-align: center;
    word-spacing: 5px;
    text-align: right;
  }
.menu li {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline;
  }

/* homepage title*/
.home {
    font-size:33px;
    text-align: center;
    word-spacing:2px;
    font-weight:500;
    opacity:1;
    text-transform: uppercase;
    margin-bottom:60px;
}

.home-location{
  margin-bottom: 10%;
}
/* travel page images*/
.tz-images {
  height:160px;
  width:160px;
  border-radius:80px;
  border: 3px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:5px;
  margin-top:5px;
  display:inline-block;
  position: relative;
  left:5%;
}


.tour-listtz {
  list-style-type: none;
  text-align:center;
  position:relative;
  left:5%;
  margin-bottom:0px;
  line-height: 27px;
}

.tour-listtz2{
  list-style-type: none;
  text-align:center;
  position:relative;
  Right:10%;
  margin-top:-3px;
  line-height: 27px;
}

.questions {
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
  margin-top:20px;
  margin-bottom:20px;
  position:relative;
  left:0%;
  text-align:center;
}

.more-info-bar {
  overflow-x: hidden;
}

.znz-hotel {
  padding: 0px 5px;
}

.hotel2 {
  margin-top: 10px;
}

.hotel-note{
  color:#fbc71bf9;
  font-weight: bold;
  margin-bottom:20px;
}

.tours-includes{
  list-style-type: none;
  position:relative;
  right:5%;
  margin-top:20px;
}

/* Home & RSVP Page Button*/
button{
  height: 50%;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid #fbc71bf9;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: #e8c65724;
  text-shadow: 0 -2px #00000043;
  margin-top:1%;
  margin-bottom:20px;
  text-align:center;

}

/*RSVP Page*/

.rsvp {
  font-size:18px;
  text-align: center;
  word-spacing:2px;
  font-weight:500;
  text-transform: uppercase;
  margin-bottom:20px;
  margin-top:40px;
}

#titlename {
  font-size:63px;
  margin-bottom:40px;
  margin-top:10px;
}

.form{
  margin-top:5px;
}

h6{
  margin-bottom:20px;
  margin-top:20px;
  text-align:center;
}

/* Schedule Page*/

.pad{
  padding: 0px 0px;
}
.schedule-margin{
  margin-top: 40px;
}

.bride-groom {
    height:160px;
    width:160px;
    border-radius:80px;
    border: 3px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5px;
    margin-top:5px;
    display:inline-block;
    position: relative;
    left:5%;
}
.schtitle{
  margin-bottom:10px;
  margin-top:20px;
  text-align:center;
  font-size:18px;
}

.schloc{
  font-size:14px;
}

.giphy-embed{
  font-size:30px;
  position: relative;
  left: 2px;
  top:30px;
  margin-bottom:50px;
  margin-top:50px;
  width:100%;

}
.weddinginfo{
  margin-top:20px;
  margin-bottom:20px;
}
.remove {
  display:none;
}
 }


